// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #2A9D8F !default;
$hoverColour: #E9C46A !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Raleway&family=Ubuntu+Mono&display=swap');
// Typography
$bodytype: (
  // font-family: "Georgia, serif",
  font-family: "Source Sans Pro, sans-serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  // font-family: '"Merriweather", serif',
  font-family: "Raleway",
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Ubuntu Mono, monospace",
  regular: 500,
  // cap-height: 0.75,
) !default;

// TIP: Load custom fonts in _config.yaml
